.bloging{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.bloging{
    border: 2px solid rgb(35, 153, 71);
    border-radius: 15px;
}
@media only screen and (max-width:688px) {
    .bloging{
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media only screen and (min-width:689px) and (max-width:991px) {
    .bloging{
        grid-template-columns: repeat(2,1fr);
    }
    
}
